.vscode
.idea

# Ignore everything in the code directory
code-linux/**

# But not this specific file
!code-linux/.config/Code/User/settings.json

# Ensure parent directories are not ignored
!code/.config/
!code/.config/Code/
!code/.config/Code/User/
